qdrant_storage 
env 
__pycache__  
test.py 
.env
main.py 
search_results.py 
templates
E:\fastapi_rag\data
my-fastapi-app.tar 
data 
main.py 
.gitignore 
backend/my-fastapi-rag.tar 
my-fastapi-rag.tar